


<h1>Home#new</h1>
<p>Find me in app/views/home/new.html.erb</p>
<p>デプロイできたぞ！</p>


 <%= form_tag("/home/create") do %>
 Cleate ID
 <div class="form">
        <input type="submit" value="new id">
    </div>
</div>
<% end %>



 <%= form_tag("/home/update") do %>
 Update Current Data
 <div class="form">
    <div class="form-body">
        Id
        <textarea name = "id"></textarea>
        uers
        <textarea name = "user"></textarea>
        <br>
        content
        <textarea name = "content"></textarea>
        <br>
        <input type="submit" value="submit">
    </div>
</div>
<% end %>


database:
<table>
    <thead>
        <tr>
            <th colspan="2">The posts tables</th>
        </tr>
    </thead>
    <tbody>
                <tr class="posts-data">
                    <td>- id -</td>
                    <td>- user -</td>
                    <td>- content -</td>
                    <td>- create -</td>
                    <td>- update -</td>
                </tr>
            <% @posts.each do |post| %>
                <div class="posts-index-item">
                <tr>
                    <td><%= link_to(post.id, "/show/#{post.id}") %></td>
                    <td><%= post.user %></td>
                    <td><%= post.content %></td>
                    <td><%= post.created_at %></td>
                    <td><%= post.updated_at %></td>
                </tr>
                </div>
            <% end %>        
        
    </tbody>
</table>
