<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a>STAY HOME</a>
      </div>

      <div class="header-list">
        <ul>
          <li><a href="/">ホーム</a></li>
          <li><a href="/">HTML&CSS</a></li>
          <li><a href="/rails">Rails</a></li>
          <li><a href="/">Python</a></li>
          <li><a href="/">Swift</a></li>
        </ul>
      </div>

    </header>

    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
